button {
  position: absolute;
  background-color: seagreen;
  color: white;
  padding: 5px;
  border-radius: 3px;
  border: 1px seagreen solid;
  font-size: 12pt;
  cursor: pointer;
}

.admin-button {
  bottom: 5px;
  left: 5px;
}

.login-button {
  bottom: 5px;
  right: 5px;
}

h1 {
  font-size: 18pt;
}